@media (prefers-color-scheme: light) {
  @layer theme.light {
    :root {
      --site-text-color: var(--colorBlack);
      --site-background-color: var(--colorWhite);
      --skills-background-color: var(--colorGreyLight);
      --accent-color: var(--colorPurpleDark);
      --text-link-color: var(--colorGreyDark);
      --footer-background-color: var(--site-text-color);
      --decorative-color-I: var(--colorRedLight);
      --decorative-color-II: var(--colorBlueLight);
    }

    body {
      --text-color: var(--site-text-color);
      --background-color: var(--site-background-color)
    }

    h1 > span:nth-child(1)::after {
      --background-color: var(--decorative-color-I);
    }

    h1 > span:nth-child(1) span {
      --text-color: var(--site-background-color);
    }

    h1 > span:nth-child(2) span::after {
      --border-color: var(--accent-color);
    }

    h1 > span:nth-child(2) span {
      --text-color: var(--accent-color);
    }

    h1 > span:nth-child(3)::after {
      --background-color: var(--decorative-color-II);
    }

    h1 > span:nth-child(3) span {
      --text-color: var(--site-background-color);
    }

    header svg {
      --stroke-color: var(--accent-color);
      --fill-color: transparent;
    }

    .skills {
      --background-color: var(--skills-background-color);
    }

    .skills div:nth-child(1)::after {
      --border-color: var(--accent-color);
    }

    .projects > div:nth-child(1) {
      --background-color: var(--accent-color);
      --text-color: var(--site-background-color);
    }

    .projects > div:nth-child(1)::after {
      --border-color: var(--site-text-color);
    }

    .project {
      --border-color: var(--site-text-color);
    }

    .project svg rect:nth-child(1) {
      --fill-color: var(--decorative-color-I);
      --stroke-color: var(--fill-color);
    }

    .project svg rect:nth-child(2) {
      --fill-color: var(--decorative-color-II);
      --stroke-color: var(--fill-color);
    }

    .project svg rect:nth-child(3) {
      --fill-color: none;
      --stroke-color: var(--site-text-color);
    }

    .project a {
      --text-color: var(--text-link-color);
      --background-color: var(--text-background-color);
    }

    button {
      --text-color: var(--site-text-color);
      --background-color: var(--site-background-color);
      --border-color: var(--site-text-color);
    }

    .about, footer {
      --background-color: var(--site-text-color);
      --text-color: var(--site-background-color);
    }

    .about > div:nth-child(1)::after {
      --border-color: var(--site-background-color);
    }

    .about h2 {
      --text-color: var(--site-text-color);
      --background-color: var(--site-background-color);
    }

    footer path {
      --stroke-color: var(--site-background-color);
      --fill-color: transparent;
    }
  }
}

@media (prefers-color-scheme: dark) {
  @layer theme.dark {
    :root {
      --site-text-color: var(--colorGreyLight);
      --site-background-color: var(--colorPurpleDark);

      --skills-background-color: var(--colorBlueDark);

      --accent-color: var(--colorPurpleLight);
      --text-link-color: var(--accent-color);
      --footer-background-color: var(--site-text-color);
      --decorative-color-I: var(--colorRedDark);
      --decorative-color-II: var(--colorBlueDark);
    }

    body {
      --text-color: var(--site-text-color);
      --background-color: var(--site-background-color)
    }

    h1 > span:nth-child(1)::after {
      --background-color: var(--decorative-color-I);
    }

    h1 > span:nth-child(1) span {
      --text-color: var(--site-text-color);
    }

    h1 > span:nth-child(2) span::after {
      --border-color: var(--accent-color);
    }

    h1 > span:nth-child(2) span {
      --text-color: var(--accent-color);
    }

    h1 > span:nth-child(3)::after {
      --background-color: var(--decorative-color-II);
    }

    h1 > span:nth-child(3) span {
      --text-color: var(--site-text-color);
    }

    header svg {
      --stroke-color: var(--accent-color);
      --fill-color: transparent;
    }

    .skills {
      --background-color: var(--skills-background-color);
    }

    .skills div:nth-child(1)::after {
      --border-color: var(--accent-color);
    }

    .projects > div:nth-child(1) {
      --background-color: var(--accent-color);
      --text-color: var(--site-background-color);
    }

    .projects > div:nth-child(1)::after {
      --border-color: var(--site-text-color);
    }

    .project {
      --border-color: var(--site-text-color);
    }

    .project svg rect:nth-child(1) {
      --fill-color: var(--colorRedLight);
      --stroke-color: var(--fill-color);
    }

    .project svg rect:nth-child(2) {
      --fill-color: var(--accent-color);
      --stroke-color: var(--fill-color);
    }

    .project svg rect:nth-child(3) {
      --fill-color: none;
      --stroke-color: var(--site-text-color);
    }

    .project a {
      --text-color: var(--text-link-color);
      --background-color: var(--text-background-color);
    }

    button {
      --text-color: var(--site-text-color);
      --background-color: var(--site-background-color);
      --border-color: var(--site-text-color);
    }

    .about, footer {
      --background-color: var(--decorative-color-I);
      --text-color: var(--site-text-color);
    }

    .about > div:nth-child(1)::after {
      --border-color: var(--site-text-color);
    }

    .about h2 {
      --text-color: var(--site-text-color);
      --background-color: var(---site-background-color);
    }

    footer path {
      --stroke-color: var(--site-text-color);
      --fill-color: transparent;
    }
  }
}