@media (prefers-color-scheme: light) {
  @layer theme.light {
    :root {
      --site-text-color: var(--colorBlack);
      --site-background-color: var(--colorWhite);
      --skills-background-color: var(--colorGreyLight);
      --accent-color: var(--colorPurpleLightTheme);
      --text-link-color: var(--colorGreyDark);
      --footer-background-color: var(--site-text-color);
      --decorative-color-I: var(--colorRedLight);
      --decorative-color-II: var(--colorBlueLight);
    }

    body {
      --text-color: var(--site-text-color);
      --background-color: var(--site-background-color)
    }

    h1 > span:nth-child(1) {
      --text-color: var(--site-background-color);
      --background-color: var(--decorative-color-I);
    }

    h1 > span:nth-child(2)::after {
      --border-color: var(--accent-color);
    }

    h1 > span:nth-child(2) {
      --text-color: var(--accent-color);
    }

    h1 > span:nth-child(3) span {
      --text-color: var(--site-background-color);
      --background-color: var(--decorative-color-II);
    }

    header svg {
      --stroke-color: var(--accent-color);
      --fill-color: transparent;
    }

    .skills {
      --background-color: var(--skills-background-color);
    }

    .skills h2 {
      --border-color: var(--accent-color);
    }

    .projects h2::after {
      --border-color: var(--site-text-color);
    }

    .projects h2 {
      --background-color: var(--accent-color);
      --text-color: var(--site-background-color);
    }

    .projects img {
      --border-color: var(--site-background-color);
    }

    .project {
      --border-color: var(--site-text-color);
    }

    .project svg rect:nth-child(1) {
      --fill-color: var(--decorative-color-I);
      --stroke-color: var(--fill-color);
    }

    .project svg rect:nth-child(2) {
      --fill-color: var(--decorative-color-II);
      --stroke-color: var(--fill-color);
    }

    .project svg rect:nth-child(3) {
      --fill-color: none;
      --stroke-color: var(--site-text-color);
    }

    .project a {
      --text-color: var(--text-link-color);
      --background-color: var(--site-background-color);
    }

    button {
      --text-color: var(--site-text-color);
      --background-color: var(--site-background-color);
      --border-color: var(--site-text-color);
    }

    .about, footer {
      --background-color: var(--site-text-color);
      --text-color: var(--site-background-color);
    }

    .about h2 {
      --text-color: var(--site-text-color);
      --background-color: var(--site-background-color);
    }

    .about h2::after {
      --border-color: var(--site-background-color);
    }

    footer path {
      --stroke-color: var(--site-background-color);
      --fill-color: transparent;
    }
  }
}

@media (prefers-color-scheme: dark) {
  @layer theme.dark {
    :root {
      --site-text-color: var(--colorGreyLight);
      --site-background-color: var(--colorPurpleDarkTheme);

      --skills-background-color: var(--colorBlueDark);

      /* --accent-color: var(--colorPurpleLight); */
      --accent-color: var(--colorDTBlue);
      --text-link-color: var(--accent-color);
      --footer-background-color: var(--site-text-color);
      --decorative-color-I: var(--colorRedDark);
      --decorative-color-II: var(--colorBlueDark);
    }

    body {
      --text-color: var(--site-text-color);
      /* --background-color: var(--site-background-color) */
      --background-color: var(--colorDTBlack);
    }

    h1 > span:nth-child(1) {
      /* --text-color: var(--site-text-color); */
      --text-color: var(--colorDTBlack);
      /* --background-color: var(--decorative-color-I); */
      --background-color: var(--colorDTBrown);
    }

    h1 > span:nth-child(2)::after {
      /* --border-color: var(--accent-color); */
      --border-color: var(--site-text-color);
    }

    h1 > span:nth-child(2) {
      /* --text-color: var(--accent-color); */
      --text-color: var(--site-text-color);
    }

    h1 > span:nth-child(3) span {
      /* --text-color: var(--site-text-color); */
      --text-color: var(--colorDTBlack);
      /* --background-color: var(--decorative-color-II); */
      --background-color: var(--colorDTGreen);
    }

    header svg {
      /* --stroke-color: var(--accent-color); */
      --stroke-color: var(--site-text-color);
      --fill-color: transparent;
    }

    .skills {
      /* --background-color: var(--skills-background-color); */
      --background-color: var(--colorDTGreen);
    }

    .skills h2 {
      --border-color: var(--site-text-color);
    }

    .projects h2::after {
      --border-color: var(--site-text-color);
      /* --border-color: var(--colorDTBrown); */
    }

    .projects h2 {
      /* --background-color: var(--accent-color); */
      --background-color: var(--colorDTBrown);
      /* --text-color: var(--site-background-color); */
      --text-color: var(--colorDTBlack);
    }

    .project {
      --border-color: var(--site-text-color);
    }

    .projects img {
      --border-color: var(--site-text-color);
    }

    .project svg rect:nth-child(1) {
      /* --fill-color: var(--colorRedLight); */
      --fill-color: var(--colorDTBrown);
      --stroke-color: var(--fill-color);
    }

    .project svg rect:nth-child(2) {
      /* --fill-color: var(--accent-color); */
      --fill-color: var(--colorDTGreen);
      --stroke-color: var(--fill-color);
    }

    .project svg rect:nth-child(3) {
      --fill-color: none;
      --stroke-color: var(--site-text-color);
    }

    .project a {
      /* --text-color: var(--text-link-color); */
      --text-color: var(--site-text-color);
      /* --background-color: var(--site-background-color); */
      --background-color: var(--colorDTBlack);
    }

    button {
      --text-color: var(--site-text-color);
      /* --background-color: var(--site-background-color); */
      --background-color: var(--colorDTBlack);
      --border-color: var(--site-text-color);
    }

    .about, footer {
      /* --background-color: var(--decorative-color-I); */
      --background-color: var(--colorDTBlack);
      --text-color: var(--site-text-color);
    }

    .about h2 {
      /* --text-color: var(--site-text-color); */
      --text-color: var(--colorDTBlack);
      /* --background-color: var(--site-background-color); */
      --background-color: var(--colorDTBrown);
    }

    .about h2::after {
      --border-color: var(--site-text-color);
    }

    footer path {
      --stroke-color: var(--site-text-color);
      --fill-color: transparent;
    }
  }
}