@font-face {
  font-family: 'Forum';
  src: url('../fonts/Forum.woff2') format('woff2'),
       url('../fonts/Forum.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/PoppinsLight.woff2') format('woff2'),
       url('../fonts/PoppinsLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/PoppinsMedium.woff2') format('woff2'),
       url('../fonts/PoppinsMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/PoppinsSemibold.woff2') format('woff2'),
       url('../fonts/PoppinsSemibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}