h1 > span:nth-child(1) {
  display: block;
  padding-block-start: var(--headerNamePadding);

  font-size: var(--header-name-font-size);

  color: var(--text-color);
  border-image: conic-gradient(var(--background-color), var(--background-color)) fill 0/0/0 0 0 100vw;
}

h1 > span:nth-child(2)::after {
  content: "";
  position: absolute;
  left: var(--headerFrameLeft);
  top: var(--headerFrameTop);

  display: block;
  width: var(--headerFrameWidth);
  height: var(--headerFrameHeight);
  
  border: var(--border-width) var(--border-color) solid;
  border-right-width: var(--resetNumber);
}

h1 > span:nth-child(2) {
  position: relative;

  font-size: var(--header-job-font-size);

  display: block;
  color: var(--text-color);
}

h1 > span:nth-child(3) {
  display: block;

  position: relative;
  font-size: var(--header-job-font-size);
}

h1 > span:nth-child(3) span {
  position: relative;
  z-index: var(--layerDown-I);

  display: block;
  
  padding-block-end: var(--headerJobPaddingBottom);
  padding-inline-start: var(--headerJobPaddingLeft);
  margin-inline-start: var(--headerJobMargingLeft);

  color: var(--text-color);

  border-image: conic-gradient(var(--background-color), var(--background-color)) fill 0/0/0 100vw 0 0;
}

h1 + div {
  display: flex;
  column-gap: var(--link-gap);

  margin-block-start: var(--header-links-margin);
}

header svg {
  stroke: var(--stroke-color);
  fill: var(--fill-color);
}

.skills {
  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: min(var(--skills-gap-min), var(--skills-gap-max));

  padding-bottom: var(--skills-vertical-padding);
}

.skills > div:nth-child(1) {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  margin-inline: var(--centering-margin);
  font-size: clamp(var(--skillsHeadingFontMin), var(--skillsHeadingFontIdeal), var(--skillsHeadingFontMax));
}

.skills h2 {
  margin: var(--resetMargin);

  text-align: center;
  font-size: inherit;

  border-image: conic-gradient(var(--border-color), var(--border-color)) 1/var(--border-width)/0.34em 0.8em;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--skillsHorizontalGap);
  row-gap: var(--skills-vertical-gap);

  text-wrap: nowrap;
}

.skills li {
  text-transform: var(--skillsTextTransform);
}

.skills ul:nth-of-type(1) li {
  font-size: clamp(var(--skillPrimaryFontMin), var(--skillPrimaryFontIdeal), var(--skillPrimaryFontMax));
}

.skills ul:nth-of-type(2) li {
  font-size: var(--secondary-skill-font-size);
}

.projects {
  padding-block: var(--projects-padding-top) var(--projects-padding-bottom);
}

.projects h2 {
  color: var(--text-color);
}

.projects > p {
  margin-block-start: min(var(--projectsNoteMarginTopAbs), var(--projectsNoteMarginRel));
  margin-block-end: min(var(--projectsNoteMarginBottomAbs), var(--projectsNoteMarginRel));
}

.projects > ul {
  display: flex;
  flex-direction: column;
  row-gap: var(--projects-gap);
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: var(--projects-gap);

  padding: var(--projects-gap);

  border: var(--border-width) var(--border-color) solid;
}

.project > div {
  width: var(--fullWidth);
}

.project > div:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.project > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  row-gap: var(--projects-gap);
}

.projects h3, .projects h4 {
  font-size: var(--subheading-font-size);
}

.projects h3 {
  margin-block-start: var(--projectHeadingTop);
}

.projects img {
  margin-block-end: var(--gap-II);

  border: var(--border-width) var(--border-color) solid;
}

.project > div:nth-child(2) > div > div, .project ul {
  display: flex;
  flex-direction: column;
  row-gap: var(--project-features-gap);
}

.project li {
  display: flex;
  align-items: baseline;
  column-gap: var(--project-features-gap);

  list-style: none;
}

.project li span:nth-child(1) {
  flex-shrink: 0;
}

.project svg {
  width: var(--project-bullet-size);
  height: var(--project-bullet-size);
}

.project svg rect {
  fill: var(--fill-color);
  stroke: var(--stroke-color);
}

.project a {
  font-weight: var(--fontWeightSecondary);
  color: var(--text-color);
  background-color: var(--background-color);
}

.about {
  padding-top: var(--about-padding);

  color: var(--text-color);
}

.about > div:nth-child(1) {
  background-color: var(--site-background-color);
}

.about h2 {
  width: var(--fullWidth);

  color: var(--text-color);
  background-color: var(--background-color);
}

.about > div:nth-child(2) {
  padding-top: var(--about-padding);
}

.about img {
  width: var(--about-image-size);
  height: var(--about-image-size);
  margin-inline: var(--centering-margin);
  margin-block-end: var(--about-gap);
  border-radius: var(--circle-border-radius);
}

.about p {
  margin-inline: var(--centering-margin);
}

.about p:not(p:last-of-type) {
  margin-block-end: var(--about-text-gap);
}

footer {
  padding-block: var(--about-gap) var(--about-padding);
  color: var(--text-color);
}

footer h2 {
  margin-block-end: var(--about-text-gap);
  font-size: var(--subheading-font-size);
}

footer h2 + div {
  display: flex;
  column-gap: var(--link-gap);
}

footer svg {
  fill: none;
  stroke-width: var(--border-width);
}

footer path {
  stroke: var(--stroke-color);
  fill: var(--fill-color);
}