h1 > span:nth-child(1) {
  position: relative;
  display: block;

  font-size: var(--header-name-font-size);
}

h1 > span:nth-child(1)::after {
  content: "";

  position: absolute;
  top: var(--resetNumber);
  z-index: var(--layer-down-I);

  width: var(--headerNameWidth);
  height: var(--fullHeight);
  margin-right: auto;

  background-color: var(--background-color);
}

h1 > span:nth-child(1) span {
  display: block;
  /* display: block;
  
  margin-inline: var(--centering-margin);
  width: var(--site-width); */
  padding-block-start: var(--headerNamePadding);

  color: var(--text-color);
}

h1 > span:nth-child(2) {
  display: block;
  font-size: var(--header-job-font-size);
}

h1 > span:nth-child(2) span::after {
  content: "";
  position: absolute;
  /* left: -0.21875em; */
  left: var(--headerFrameLeft);
  top: var(--headerFrameTop);

  display: block;
  width: var(--headerFrameWidth);
  height: var(--headerFrameHeight);
  
  border: var(--border-width) var(--border-color) solid;
  border-right-width: var(--resetNumber);
}

h1 > span:nth-child(2) span {
  position: relative;

  display: block;
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: min(80rem, 100vw - 2rem); */
  
  color: var(--text-color);
}

h1 > span:nth-child(3) {
  display: block;

  position: relative;
  /* margin-left: auto;
  margin-right: auto;
  width: min(80rem, 100vw - 2rem); */
  font-size: var(--header-job-font-size);
}

h1 > span:nth-child(3)::after {
  content: "";
  position: absolute;
  top: var(--resetNumber);
  left: var(--headerJobBackgroundLeft);
  z-index: var(--layer-down-I);

  width: 100vw;
  height: 100%;
  margin-left: auto;
  background-color: var(--background-color);
  
}

h1 > span:nth-child(3) span {
  display: block;
  
  padding-bottom: 1.09375em;
  padding-left: 0.125em;
  margin-left: 60px;
  color: var(--text-color);
}

/* header a {
  display: inline-block;
  width: clamp(3.125rem, 10.2222222222vw, 5.875rem);
  height: clamp(3.125rem, 10.2222222222vw, 5.875rem);
  cursor: pointer;
} */

h1 + div {
  display: flex;
  column-gap: var(--link-gap);

  /* width: var(--site-width);
  margin-inline: var(--centering-margin); */
  margin-block-start: min(-1.3333333333vw, -0.75rem);
}

header svg {
  /* width: 100%; */
  stroke: var(--stroke-color);
  /* stroke-width: min(0.3571428571vw, 0.125rem); */
  fill: var(--fill-color);
}

/* header svg path {
  stroke-width: 1px;
} */

.skills {
  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: min(var(--skills-gap-min), var(--skills-gap-max));

  padding-bottom: min(var(--skills-padding-bottom-min), var(--skills-padding-bottom-max));
  
  background-color: var(--background-color);
}

.skills > div:nth-child(1) {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  width: min(var(--skillsHeadingWidth), 100vw - 1rem);
  /* width: var(--skillsHeadingWidth); */
  margin-inline: var(--centering-margin);
  font-size: clamp(var(--skillsHeadingFontMin), var(--skillsHeadingFontIdeal), var(--skillsHeadingFontMax));
}

.skills div:nth-child(1)::after {
  content: "";
  position: absolute;
  height: var(--skillsHeadingFrameHeight);
  /* width: var(--fullWidth); */
  width: min(100%, 100vw);
  border: var(--border-width) var(--border-color) solid;
}

.skills h2 {
  margin: var(--resetMargin);

  text-align: center;
  font-size: inherit;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--skillsHorizontalGap);
  row-gap: var(--skillsVerticalGap);

  /* width: var(--site-width);
  margin-inline: var(--centering-margin); */
}

.skills li {
  text-transform: var(--skillsTextTransform);
}

.skills ul:nth-of-type(1) li {
  font-size: clamp(var(--skillPrimaryFontMin), var(--skillPrimaryFontIdeal), var(--skillPrimaryFontMax));
}

.skills ul:nth-of-type(2) li {
  font-size: var(--secondary-skill-font-size);
}

.projects {
  padding-block: var(--projects-padding-top) var(--projects-padding-bottom);
}

.projects > div:nth-child(1) {
  /* position: relative; */

  /* font-size: clamp(var(--headingTwoFontMin), var(--headingTwoFontIdeal), var(--headingTwoFontMax)); */
  background-color: var(--background-color);
}

.projects > div:nth-child(1)::after {
  /* content: "";
  position: absolute;
  left: var(--resetNumber);
  bottom: var(--verticalCenteringBottom);
  transform: var(--verticalCenteringTranslate);

  width: var(--projectsHeadingFrameWidth);
  height: var(--projectsHeadingFrameHeight); */

  border: var(--border-width) var(--border-color) solid;
  border-left-width: var(--resetNumber);
}

.projects h2 {
  /* width: var(--site-width);
  margin-inline: var(--centering-margin); */

  /* font-family: var(--heading-font-family);
  font-size: inherit; */
  color: var(--text-color);
}

.projects > div:first-child + p {
  /* width: var(--site-width);
  margin-inline: var(--centering-margin); */
  margin-block-start: min(var(--projectsNoteMarginTopMin), var(--projectsNoteMarginMax));
  margin-block-end: min(var(--projectsNoteMarginBottomMin), var(--projectsNoteMarginMax));
}

.projects > ul {
  display: flex;
  flex-direction: column;
  row-gap: var(--projects-gap);

  /* width: var(--site-width);
  margin-inline: var(--centering-margin); */
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: var(--projects-gap);

  padding: var(--projects-gap);

  border: var(--border-width) var(--border-color) solid;
}

/* .project > div {
  display: flex;
  flex-direction: column;
  row-gap: var(--projects-gap);
} */

.project > div:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

/* .project > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  row-gap: var(--projects-gap);
} */

.project > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  row-gap: var(--projects-gap);
}

.projects h3, .projects h4 {
  font-size: var(--subheading-font-size);
}

.projects h3 {
  margin-block-start: var(--projectHeadingTop);
}

.projects img {
  margin-block-end: var(--gap-II);
}

/* .project h3 + div > div, .project ul {
  display: flex;
  flex-direction: column;
  row-gap: var(--project-features-gap);
} */

.project > div:nth-child(2) > div > div, .project ul {
  display: flex;
  flex-direction: column;
  row-gap: var(--project-features-gap);
}


.project li {
  display: flex;
  align-items: baseline;
  column-gap: var(--project-features-gap);

  list-style: none;
}

.project li span:nth-child(1) {
  flex-shrink: 0;
}

.project svg {
  width: var(--project-bullet-size);
  height: var(--project-bullet-size);
}

.project svg rect {
  fill: var(--fill-color);
  stroke: var(--stroke-color);
}

.project a {
  font-weight: var(--fontWeightSecondary);
  color: var(--text-color);
  background-color: var(--background-color);
}

.about {
  padding-top: var(--about-padding);

  color: var(--text-color);
  background-color: var(--background-color);
}

.about > div:nth-child(1) {
  /* position: relative; */

  /* font-size: clamp(var(--headingTwoFontMin), var(--headingTwoFontIdeal), var(--headingTwoFontMax)); */
  background-color: var(--site-background-color);
}

.about > div:nth-child(1)::after {
  /* content: "";
  position: absolute;
  left: var(--resetNumber);
  bottom: var(--verticalCenteringBottom);
  transform: var(--verticalCenteringTranslate);

  width: var(--projectsHeadingFrameWidth);
  height: var(--projectsHeadingFrameHeight); */

  border: var(--border-width) var(--border-color) solid;
  border-left-width: var(--resetNumber);
}

.about h2 {
  /* width: var(--site-width);
  margin-inline: var(--centering-margin); */

  /* font-family: var(--heading-font-family);
  font-size: inherit; */
  color: var(--text-color);
  background-color: var(--background-color);
}

.about > div:nth-child(2) {
  /* width: var(--site-width);
  margin-inline: var(--centering-margin); */
  padding-top: var(--about-padding);
}

.about img {
  width: var(--about-image-size);
  height: var(--about-image-size);
  margin-inline: var(--centering-margin);
  margin-block-end: var(--about-gap);
  /* margin-block-end: min(4rem, 7.1111111111vw); */
}

.about p:not(p:last-of-type) {
  margin-block-end: var(--about-text-gap);
}

footer {
  padding-block: var(--about-gap) var(--about-padding);
  color: var(--text-color);
  background-color: var(--background-color);
}

/* footer > div {
  width: var(--site-width);
  margin-inline: var(--centering-margin);
} */

footer h2 {
  margin-block-end: var(--about-text-gap);
  font-size: var(--subheading-font-size);
}

footer h2 + div {
  display: flex;
  column-gap: var(--link-gap);
}

footer svg {
  fill: none;
  stroke-width: var(--border-width);
}

footer path {
  stroke: var(--stroke-color);
  fill: var(--fill-color);
}