:root {
  /* Primitive Tokens */

  /* Colors | Primitive */

  --colorBlack: #424242;
  --colorWhite: #FAFAFA;
  --colorGreyLight: #EEECEE;
  --colorGreyDark: #616161;
  --colorPurpleDark: #462255;
  --colorPurpleLight: #D5C4FF;
  --colorRedLight: #D3715C;
  --colorBlueLight: #6299A6;
  --colorRedDark: #85395F;
  --colorBlueDark: #384F54;

  /* Typography | Primitive */

  --fontFamilyPrimary: Poppins;
  --fontFamilySecondary: Forum;
  --fontFamilyPrimaryFallBack: Verdana;
  --fontFamilySecondaryFallBack: Georgia;

  --fontWeightPrimary: 300;
  --fontWeightSecondary: 500;

  --textSizeMin: calc(18 / 16 * 1rem);
  /* --textSizeMin: calc(20 / 16 * 1rem); */
  /* --textSizeMin: 1rem; */
  --textSizeIdeal: 2.6vw;
  --textSizeMax: calc(24 / 16 * 1rem);

  --headingOneFontMin: calc(32 / 16 * 1rem);
  --headingOneFontIdeal: 10.6vw;
  /* --headingOneFontIdeal: 10vw; */
  --headingOneFontMax: calc(90 / 16 * 1rem);

  /* --headingTwoFontMin: calc(32 / 16 * 1rem); */
  --headingTwoFontMin: calc(24 / 16 * 1rem);
  --headingTwoFontIdeal: 7.6vw;
  /* --headingTwoFontIdeal: 7.1vw; */
  --headingTwoFontMax: calc(64 / 16 * 1rem);

  --skillsHeadingFontMin: calc(22 / 16 * 1rem);
  /* --skillsHeadingFontMin: calc(24 / 16 * 1rem); */
  /* --skillsHeadingFontMin: 1rem; */
  --skillsHeadingFontIdeal: 5.1vw;
  --skillsHeadingFontMax: calc(46 / 16 * 1rem);

  /* --skillPrimaryFontMin: calc(18 / 16 * 1rem); */
  --skillPrimaryFontMin: calc(24 / 16 * 1rem);
  --skillPrimaryFontIdeal: 4.4444444444vw;
  --skillPrimaryFontMax: calc(40 / 16 * 1rem);
  /* --skillSecondaryFontMin: 1rem; */
  --skillSecondaryFontMin: calc(20 / 16 * 1rem);
  --skillSecondaryFontIdeal: 3.1vw;
  --skillSecondaryFontMax: calc(28 / 16 * 1rem);

  --skillsTextTransform: uppercase;

  --projectsSubheadingFontMin: calc(18 / 16 * 1rem);
  /* --projectsSubheadingFontMin: 1rem; */
  --projectsSubheadingFontIdeal: 3.6vw;
  --projectsSubheadingFontMax: calc(32 / 16 * 1rem);
  --buttonFontMin: var(--projectsSubheadingFontMin);
  --buttonFontIdeal: var(--projectsSubheadingFontIdeal);
  --buttonFontMax: calc(28 / 16 * 1rem);

  --lineHeightBigger: 1.8;

  /* Sizing | Primitive */

  --fullWidth: 100%;
  --fullHeight: 100%;
  --resetMargin: 0;
  --resetNumber: 0;

  --verticalCenteringBottom: 50%;
  --verticalCenteringTranslate: translateY(50%);

  --siteWidthMin: calc(1280 / 16 * 1rem);

  --gap-0-I: calc(4 / 16 * 1rem);
  --gap-I: calc(8 / 16 * 1rem);
  --gap-II: 1rem;
  --gap-III: calc(24 / 16 * 1rem);
  --gap-IV: calc(32 /  16 * 1rem);
  --gap-V: calc(48 / 16 * 1rem);
  --gap-VI: calc(64 / 16 * 1rem);

  --frameBorderRel: 0.36vw;
  /* --frameBorderRel: 0.3571428571vw; */
  --frameBorderAbs: calc(2 / 16 * 1rem);
  --svgStrokeWidth: var(--frameBorderAbs);

  --headerNameWidth: 93.75vw;
  --headerNamePadding: 1.4444444444em;

  /* --headerFrameLeft: calc(-6 / 16 * 1rem); */
  --headerFrameLeft: calc(-12 / 16 * 1rem);
  --headerFrameTop: -0.15625em;
  --headerFrameHeight: 2.65625em;
  --headerFrameWidth: 200%;

  --headerJobBackgroundLeft: calc(48 / 16 * 1rem);

  --linkIconMin: calc(50 / 16 * 1rem);
  --linkIconIdeal: 10.2vw;
  --linkIconMax: calc(94 / 16 * 1rem);

  --skillsGapMaxValue: 7.1111111111vw;
  --skillsHeadingWidth: 12.1739130435em;
  --skillsHeadingFrameHeight: 2.34782608em;
  /* --skillsHeadingFrameHeight: 2.1304347826em; */
  --skillsHorizontalGap: calc(32 / 16 * 1rem);
  --skillsVerticalGap: var(--gap-III);

  --projectsHeadingFrameWidth: 48.4126984127vw;
  --projectsHeadingFrameHeight: 1.75em;

  --projectsNoteMarginTopAbs: var(--gap-V);
  /* --projectsNoteMarginTopAbs: calc(76 / 16 * 1rem); */
  --projectsNoteMarginBottomAbs: var(--gap-IV);
  /* --projectsNoteMarginBottomAbs: var(--gap-VI); */
  /* --projectsNoteMarginRel: 7.1vw; */
  --projectsNoteMarginRel: 6.3vw;

  --projectsGapAbs: var(--gap-IV);
  /* --projectsGapRel: 3.5555555556vw; */
  --projectsGapRel: 3.2vw;

  --projectHeadingTop: calc(6 / 16 * 1rem);

  --projectFeaturesGapAbs: var(--gap-II);
  --projectFeaturesGapRel: 1.78vw;

  --projectBulletSizeAbs: calc(12 / 16 * 1rem);
  --projectBulletSizeRel: 1.3vw;

  /* --buttonPadding: 0.4em; */
  --buttonPadding: 0.2857142857em;
  --buttonWidthMin: 3.35em;
  --buttonHeightMin: calc(44 / 16 * 1rem);

  --sectionPaddingAbs: calc(100 / 16 * 1rem);
  --sectionPaddingRel: 11.1111111111vw;

  --aboutImageMin: calc(100 / 16 * 1rem);
  --aboutImageIdeal: 20vw;
  --aboutImageMax: calc(200 / 16 * 1rem);

  --aboutImgMarginAbs: var(--gap-VI);
  --aboutImgMarginRel: 7.1vw;

  --aboutTextGapAbs: var(--gap-IV);
  --aboutTextGapRel: 3.5555555556vw;

  /* Layout | Primitive */
  --centering-margin: auto;
  --circle-border-radius: 50%;

  /* Layers | Primitive */
  --layer-down-I: -1;


  /* Semantic tokens */

  /* Typography | Semantic*/
  --body-text-font-family: var(--fontFamilyPrimary), var(--fontFamilyPrimaryFallBack), sans-serif;
  --heading-font-family: var(--fontFamilySecondary), var(--fontFamilySecondaryFallBack), serif;

  --secondary-skill-font-size: clamp(var(--skillSecondaryFontMin), var(--skillSecondaryFontIdeal), var(--skillSecondaryFontMax));
  --subheading-font-size: clamp(var(--projectsSubheadingFontMin), var(--projectsSubheadingFontIdeal), var(--projectsSubheadingFontMax));
  --button-font-size: clamp(var(--buttonFontMin), var(--buttonFontIdeal), var(--buttonFontMax));

  /* Sizing */
  --site-width: min(var(--siteWidthMin), 100vw - 3rem);
  --border-width: min(var(--frameBorderRel), var(--frameBorderAbs));
  --section-padding: min(var(--sectionPaddingAbs), var(--sectionPaddingRel));

  --header-padding: var(--about-gap);
  --header-name-font-size: clamp(var(--headingOneFontMin), var(--headingOneFontIdeal), var(--headingOneFontMax));
  --header-job-font-size: clamp(var(--headingTwoFontMin), var(--headingTwoFontIdeal), var(--headingTwoFontMax));

  --link-icon-size: clamp(var(--linkIconMin), var(--linkIconIdeal), var(--linkIconMax));
  --link-gap: var(--project-features-gap);

  --skills-padding-bottom-min: var(--gap-VI);
  --skills-padding-bottom-max: var(--skillsGapMaxValue);
  --skills-gap-min: var(--skills-padding-bottom-min);
  --skills-gap-max: var(--skills-padding-bottom-max);

  --projects-padding-top: var(--section-padding);
  --projects-padding-bottom: min(var(--skills-padding-bottom-min), var(--skills-padding-bottom-max));
  --projects-gap: min(var(--projectsGapAbs), var(--projectsGapRel));
  --project-features-gap: min(var(--projectFeaturesGapAbs), var(--projectFeaturesGapRel));
  --project-bullet-size: max(var(--projectBulletSizeAbs), var(--projectBulletSizeRel));

  --button-outline-offset: var(--gap-I);

  --about-padding: var(--section-padding);
  --about-image-size: clamp(var(--aboutImageMin), var(--aboutImageIdeal), var(--aboutImageMax));
  --about-gap: min(var(--aboutImgMarginAbs), var(--aboutImgMarginRel));
  --about-text-gap: min(var(--aboutTextGapAbs), var(--aboutTextGapRel));
  }