:root {
  /* Primitive Tokens */

  /* Colors */
  --colorBlack: #424242;
  --colorWhite: #FAFAFA;
  --colorGreyLight: #EEECEE;
  --colorGreyDark: #616161;
  --colorPurpleDark: #462255;
  --colorPurpleLight: #D5C4FF;
  --colorRedLight: #D3715C;
  --colorBlueLight: #639CA8;
  --colorRedDark: #85395F;
  --colorBlueDark: #384F54;

  /* Typography | Primitive */
  --fontFamilyPrimary: Poppins;
  --fontFamilySecondary: Forum;
  --fontFamilyPrimaryFallBack: Verdana;
  --fontFamilySecondaryFallBack: Georgia;

  --fontWeightPrimary: 300;
  --fontWeightSecondary: 500;
  --fontWeightAlternative: 600;

  --textSizeMin: 1rem;
  --textSizeIdeal: 2.6vw;
  --textSizeMax: calc(24 / 16 * 1rem);

  --headingTwoFontMin: calc(24 / 16 * 1rem);
  --headingTwoFontIdeal: 7.1vw;
  --headingTwoFontMax: calc(64 / 16 * 1rem);

  --skillsHeadingFontMin: 1rem;
  --skillsHeadingFontIdeal: 5.1vw;
  --skillsHeadingFontMax: calc(46 / 16 * 1rem);

  --skillPrimaryFontMin: calc(18 / 16 * 1rem);
  --skillPrimaryFontIdeal: 4.4444444444vw;
  --skillPrimaryFontMax: calc(40 / 16 * 1rem);
  --skillSecondaryFontMin: 1rem;
  --skillSecondaryFontIdeal: 3.1vw;
  --skillSecondaryFontMax: calc(28 / 16 * 1rem);

  --skillsTextTransform: uppercase;

  --projectsSubheadingFontMin: 1rem;
  --projectsSubheadingFontIdeal: 3.6vw;
  --projectsSubheadingFontMax: calc(32 / 16 * 1rem);

  /* Sizing | Primitive */

  --fullWidth: 100%;
  --resetMargin: 0;
  --resetNumber: 0;

  --verticalCenteringBottom: 50%;
  --verticalCenteringTranslate: translateY(50%);

  --siteWidthMin: calc(1280 / 16 * 1rem);

  --gap-0-I: calc(4 / 16 * 1rem);
  --gap-I: calc(8 / 16 * 1rem);
  --gap-II: 1rem;
  --gap-III: calc(24 / 16 * 1rem);
  --gap-IV: calc(32 /  16 * 1rem);
  --gap-V: calc(48 / 16 * 1rem);
  --gap-VI: calc(64 / 16 * 1rem);

  --frameBorderMin: 0.3571428571vw;
  --frameBorderMax: calc(2 / 16 * 1rem);

  --linkIconMin: calc(50 / 16 * 1rem);
  --linkIconIdeal: 10.2vw;
  --linkIconMax: calc(94 / 16 * 1rem);

  --skillsGapMaxValue: 7.1111111111vw;
  --skillsHeadingWidth: 12.1739130435em;
  --skillsHeadingFrameHeight: 2.1304347826em;
  --skillsHorizontalGap: calc(32 / 16 * 1rem);
  --skillsVerticalGap: calc(24 / 16 * 1rem);

  --projectsHeadingFrameWidth: 48.4126984127vw;
  --projectsHeadingFrameHeight: 1.75em;

  --projectsNoteMarginTopMin: calc(76 / 16 * 1rem);
  --projectsNoteMarginBottomMin: calc(64 / 16 * 1rem);
  --projectsNoteMarginMax: 7.1vw;

  --projectsGapMin: var(--gap-IV);
  --projectsGapMax: 3.56vw;

  --projectFeaturesGapMin: var(--gap-II);
  --projectFeaturesGapMax: 1.78vw;

  --projectBulletSizeMin: calc(12 / 16 * 1rem);
  --projectBulletSizeMax: 1.3vw;

  --buttonPadding: 0.2857142857em;

  --sectionPaddingAbs: calc(100 / 16 * 1rem);
  --sectionPaddingRel: 11.1111111111vw;

  --aboutImageMin: calc(100 / 16 * 1rem);
  --aboutImageIdeal: 20vw;
  --aboutImageMax: calc(200 / 16 * 1rem);

  --aboutImgMarginAbs: var(--gap-VI);
  --aboutImgMarginRel: 7.1vw;

  --aboutTextGapAbs: var(--gap-IV);
  --aboutTextGapRel: 3.5555555556vw;

  /* Layout | Primitive */
  --centering-margin: auto;

  /* Semantic tokens */

  /* Typography | Semantic*/
  --body-text-font-family: var(--fontFamilyPrimary), var(--fontFamilyPrimaryFallBack), sans-serif;
  --heading-font-family: var(--fontFamilySecondary), var(--fontFamilySecondaryFallBack), serif;

  --secondary-skill-font-size: clamp(var(--skillSecondaryFontMin), var(--skillSecondaryFontIdeal), var(--skillSecondaryFontMax));
  --subheading-font-size: clamp(var(--projectsSubheadingFontMin), var(--projectsSubheadingFontIdeal), var(--projectsSubheadingFontMax));

  /* Sizing */
  --site-width: min(var(--siteWidthMin), 100vw - 2rem);
  --border-width: min(var(--frameBorderMin), var(--frameBorderMax));
  --section-padding: min(var(--sectionPaddingAbs), var(--sectionPaddingRel));

  --header-padding: var(--about-gap);

  --link-icon-size: clamp(var(--linkIconMin), var(--linkIconIdeal), var(--linkIconMax));
  --link-gap: var(--project-features-gap);

  --skills-padding-bottom-min: var(--gap-VI);
  --skills-padding-bottom-max: var(--skillsGapMaxValue);
  --skills-gap-min: var(--skills-padding-bottom-min);
  --skills-gap-max: var(--skills-padding-bottom-max);

  --projects-padding-top: var(--section-padding);
  --projects-padding-bottom: min(var(--skills-padding-bottom-min), var(--skills-padding-bottom-max));
  --projects-gap: min(var(--projectsGapMin), var(--projectsGapMax));
  --project-features-gap: min(var(--projectFeaturesGapMin), var(--projectFeaturesGapMax));
  --project-bullet-size: max(var(--projectBulletSizeMin), var(--projectBulletSizeMax));

  --button-outline-offset: var(--gap-I);

  --about-padding: var(--section-padding);
  --about-image-size: clamp(var(--aboutImageMin), var(--aboutImageIdeal), var(--aboutImageMax));
  --about-gap: min(var(--aboutImgMarginAbs), var(--aboutImgMarginRel));
  --about-text-gap: min(var(--aboutTextGapAbs), var(--aboutTextGapRel));
  }