@layer reset, tokens, general.common, general.specific, specific, theme.light, theme.dark, states;

@import url("./styles/reset.css") layer(reset);
@import url("./styles/font.css");
@import url("./styles/tokens.css") layer(tokens);
@import url("./styles/wcag-reset.css") layer(tokens);
@import url("./styles/common.css") layer(general.common);
@import url("./styles/sections.css") layer(general.section);
@import url("./styles/color.css") layer(theme);

@layer specific {
  .site-frame {
    /* display: block; */
    box-sizing: border-box;
    margin-inline: var(--centering-margin);
    width: var(--site-width);
  }

  /* Visually hidden elements are visible to screen readers */
  .visually-hidden {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

@layer states {
  header a:hover svg, header a:focus-visible svg {
    --fill-color: var(--accent-color)
  }

  .project a:hover, .project a:focus-visible {
    --text-color: var(--site-background-color);
    --background-color: var(--text-link-color);
  }

  button:hover, button:focus-visible {
    --text-color: var(--site-background-color);
    --background-color: var(--accent-color);
    --border-color: var(--accent-color);

    outline-offset: var(--button-outline-offset);
  }

  footer a:hover path, footer a:focus-visible path {
    --fill-color: var(--site-background-color);
  }

  @media (prefers-color-scheme: dark) {
    footer a:hover path, footer a:focus-visible path {
      --fill-color: var(--site-text-color);
    }
  }
}