:root {
  /* Primitive Tokens */

  /* Colors */
  --colorBlack: #424242;
  --colorWhite: #FAFAFA;
  --colorGreyLight: #EEECEE;
  --colorGreyDark: #616161;
  --colorPurple: #462255;
  --colorRed: #D3715C;
  --colorBlue: #639CA8;

  /* Typography */
  --fontFamilyPrimary: Poppins;
  --fontFamilySecondary: Forum;
  --fontFamilyPrimaryFallBack: Verdana;
  --fontFamilySecondaryFallBack: Georgia;

  --fontWeightPrimary: 300;
  --fontWeightSecondary: 500;
  --fontWeightAlternative: 600;

  /* Semantic tokens */
  --body-text-font-family: var(--fontFamilyPrimary), var(--fontFamilyPrimaryFallBack), sans-serif;
  --heading-font-family: var(--fontFamilySecondary), var(--fontFamilySecondaryFallBack), serif;
}